<P><%= @game.player1.name %> attacks <%= @game.player2.name %>.</P>
<P><%= @game.player2.name %>: <%=@game.player2.hit_points %>HP</P>

<form action='/play' method='get'>
  <div>
    <button class='button' type="submit">Return</button>
  </div>
</form>
