<h1>B A T  T L E</h1>
<form action="/names" method ="post">
  <div>
    Player One: <input type="text" name='Player_one'>
    Player Two: <input type="text" name='Player_two'>
  </div>
  <div class='button'>
    <button type="submit">Submit</button>
  </div>
</form>