<form action="/names" method ="post">
  <div>
    <input type="text" name='Player_one'>
    <input type="text" name='Player_two'>
  </div>
  <div class='button'>
    <button type="submit">Submit</button>
  </div>
</form>