<h1>B A T  T L E</h1>
<h2>Sign it to Play</h2>
<form action="/names" method ="post">
  <div>
    Player One: <input type="text" name='player1_name'>
    Player Two: <input type="text" name='player2_name'>
  </div>
  <div class='button'>
    <button type="submit">Submit</button>
  </div>
</form>
