<div>
<p>Player one: <%=@player1_name %> Vs Player two: <%=@player2_name %></p>
<p><%=@player2_name %>: 100HP</p>
  <form action='/attack' method='get'>
    <div>
      <button class='button' type="submit">Attack <%=@player2_name %></button>
    </div>
  </form>
</div>
